.grandpa-page{
    width:80%;
    margin: 20px auto;
    border: 1px solid tomato;
    border-radius: 5px;
    text-align: center;
    padding: 15px;

}

.grandpa-section{
    display: flex;
    gap: 10px;
}

.grandpa-page div{
    border: 1px solid green;
    padding: 5px;
    border-radius: 5px;
}

.flex{
    display: flex;
    gap:10px;
}