.home-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
    width:80%;
    margin:50px auto;
}

.tsirts-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
}